hr.footer-line {
  border-top: 1px solid #2a5ea4;
  border-bottom: 1px solid #2a5ea4;
}

.section-menu {
	padding-bottom: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-menu {
  
  font-size: 9px;
  margin: 0;
  padding: 2% 0;
}

.footer-menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
	padding: 0;
	margin: 0;
}

.footer-menu-nav li a {
  margin: 0 10px 0 0;
  padding: 0;
	color: #2a5ea4;
}

.footer-menu-nav li a:hover {
  color: white;
}

.copyright section {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: flex-end;
  color: #2a5ea4;
  margin: 0;
  padding: 0;

}

